body{
    font-family: 'Poppins', sans-serif;   
}

h1 {

    text-align: center;
    font-size: 3.6rem;
    color: aliceblue;
    margin-top: 0.5rem;
}

#lenghth {

    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    margin-top: 0.5rem;
}

#post-pane{

    text-align: center;
    color: aliceblue;
    width: 21rem;
    height: 21.5rem;
    margin: 0.5rem auto;
    overflow: hidden;
}

#post-pane h2{

    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#view-post{

    margin-right: 3rem;
    border-radius: 30px;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.7rem 1rem;
    color: aliceblue;
    margin: 0;
    font-family: inherit;
}

#view-post:hover{

    color: rgb(0, 122, 252);
    border: 1px solid rgb(0, 122, 252);
    background-color: rgb(0, 122, 252,0.1);
    cursor: pointer;
}

#view-post h3{

    margin: 0;
}

#post-pane a{
    
    color: aliceblue;
    text-decoration: none;
}

#buttons{

    padding: 0.5rem 0;
}

span{

    margin-right: 1rem;
}

span a b:hover{

    color: rgb(0, 122, 252);
}

.parallel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
}

#mainImagePic{
   
    width: 35rem;
    cursor: default;
}

#post-pane:hover .hoverDetails{
    display: block;   
 }

#mainImage5{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid rgb(0, 234, 255);
    margin-right: 0.5rem;    
}

.viewCount{
    font-size: 2rem;
    margin-right: 0.5rem;
}

.userDetauilsPage{
    display: flex;
    gap: 5rem;
    width: fit-content;
    align-items: center;
    margin: 4rem auto;
    color: rgb(245,245,245);
    z-index: 10;
}

.userDetails4{
    display: flex;
    align-items: center;
}

.userDetails4 .follow{
    padding: 0.55rem 1.1rem;
    background-color: rgb(0,149,246);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    color: aliceblue;
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
}

.userDetails4 .follow2{
    padding: 0.55rem 1.1rem;
    background-color: rgb(23,28,31);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    color: aliceblue;
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
}

/* .followingCount{
    display: none;
} */

.userDetails4 .follow:hover{
    background-color: rgb(2, 89, 203);
}

.userDetails4 .follow2:hover{
    background-color: rgb(75, 75, 75);
}

#userTopName{
    font-size: 1.2rem;
    margin: 0;    
}

.userDetauilsPage3{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-size: 0.95rem;
    margin-top: -0.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.bioSection{
    margin-top: 0.5rem;
}

.bioSection p{
    margin: 0;
   
    font-size: 0.95rem;
}

#userImge{
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid rgb(255, 0, 225);
    overflow: auto;
}

.dataView{
    color: rgb(103, 103, 103);
}

.updated{
    background-color: rgb(97, 201, 236);
    border-radius: 5px;
    padding: 0.7rem 0.8rem;
    top:0rem;
    left: 45rem;
    position: fixed;
}

.deleted{
    background-color: rgb(193, 53, 76);
    border-radius: 5px;
    padding: 0.8rem 0.7rem 0.1rem 0.7rem;
    position: fixed;
}

.noPostToShow{
    width: 18.5rem;
    margin: 5rem auto;
    margin-left: 20.5rem;
}

.noPostToShow a{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(0,149,246);
    padding: 0.2rem 1.2rem;
    border-radius: 30px;
    color: aliceblue;
}

.noPostToShow a:hover{
    background-color: rgb(1, 128, 213);
}

.mainPicture{
    margin-left: 25.5rem;
}

.mainPicture2{
    margin-top: 2rem;
    margin-left: 21rem;
}

.mainDashboard{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,19.5rem);
    gap: 0.4rem;
    margin: 3rem auto;
    z-index: 5;
    padding: 0;    
}

.underBar{
    width: 100%;
    padding-bottom: 2rem;
    border-top: 1px solid rgba(128, 128, 128, 0.452);
    margin-bottom: -3rem;
}

.underBar2{
   
    display: flex;
    align-items: center;
    gap: 3.5rem;
    width: fit-content;
    margin: 0 auto;
}

.underBar2 .section1{
    display: flex;
    align-items: center;
    color: aliceblue;
    font-size: 0.85rem;
    gap: 0.5rem;
}

.myBorder{
    border: none;
    border-top: 2px solid rgb(255, 255, 255);
}

.underBar2 .section1 label{
    cursor: pointer;
}

.underBar2 .section1 p a{
    color: aliceblue;
}

.hoverDetails{
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.hoverDetails2{
    width: fit-content;
    margin: 3rem auto;
    color: aliceblue;
    text-align: center;
}

.viewsSet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#countNumber{
    font-size: 1.5rem;
    margin: 0;
}

#myLogOut{
    
    margin-top: 16rem;    
}

#myLogOut a{

    border-radius: 12px;
    padding: 0.8rem 4rem;
    background-color: rgb(218, 38, 38);
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

#myLogOut a:hover{
    color: aliceblue;
    background-color: red;

}