<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('extra/meta-data') %>
        <link rel="stylesheet" href="/style/main.css">
        <link rel="stylesheet" href="/style/post.css">
        <link rel="stylesheet" href="/style/allpost.css">
        <link rel="stylesheet" href="/style/footer.css">
        <title>User Validation</title>
</head>

<body>

    
    
        

            <div id="validation">
                <h3><img src="image/icons8-correct-144.png" alt="" style="width: 5rem;"></h3>
                <h3 id="emailName">Account activation link sent to <%= emailAd %></h3>

            
            </div>

       
    

        <%- include('extra/footer') %>

</body>

</html>

