<!DOCTYPE html>
<html lang="en">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600&display=swap" rel="stylesheet">

<head>
   
    <%- include('extra/meta-data') %>

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/content.css">
    <link rel="stylesheet" href="/style/footer.css">
    <title>fireShip</title>
</head>

<body>

    

<div id="main-content">

<h4><img src="image/dating-app-logo-tinder-removebg-preview (1).png" alt="" style="width: 5rem;">fireShip</h4>

<h1>Create.edit.Post.</h1>
<h2>you can Create,Publish your posts in few seconds.</h2>
<h3><a href="/sign-up">Create an Account</a></h3>
<h3><a href="/login">Login</a></h3>

</div>

<%- include('extra/footer') %>

</body>

</html>